{% extends 'base.html' %}

{% block extra_css %}
<style>
    body{
        background-color: #e9ecef;
    }
</style>
{% endblock extra_css %}

{% block content %}
<div class="jumbotron d-flex align-items-center" style="height: 95vh;">
    <div class="container text-center">
        <h1 class="jumbotron-heading">Meetup #3 - Python Pasto</h1>
        <p class="lead text-muted">
            Este registro se hace con el fin de validar su información para generar el certificado de
            asistencia.
        </p>
        <p>
        <h5>🌍 <strong>Universidad Mariana - Auditorio Madre Caridad</strong></h5>
        <h5>📅 <strong>Octubre 25 de 2018 - ⏰ 6pm: 8:30pm</strong></h5>
        </p>
        <p>
            <a href="{% url 'social:begin' 'meetup' %}" class="btn btn-danger btn-lg">
                <i class="fab fa-meetup fa-lg"></i> Ingresar con Meetup
            </a>
        </p>
    </div>
</div>
{% endblock content %}
